# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env
.env

# modules
/src/app.module-copy.ts
/src/accounting/accbeginningbalancesdet2s
/src/accounting/accbeginningbalancesdet3s
/src/accounting/accbeginningbalancesdets
/src/accounting/accbeginningbalancess
/src/accounting/accountingentriess
/src/accounting/accountingentriesdets
/src/accounting/accentsubdets
/src/accounting/accmonclos
/src/accounting/accannualclosingentrys
/src/accounting/accmontopes
/src/accounting/accannclos
/src/monthly-closure
/src/monthly-opening
/src/medical-appointments
/src/hospitalization
/src/inventory
